version: 2.1

orbs:
  architect: giantswarm/architect@6.13.0

workflows:
  workflow:
    jobs:
    - architect/push-to-app-catalog:
        name: push-kyverno-policies-to-control-plane-catalog
        app_catalog: control-plane-catalog
        app_catalog_test: control-plane-test-catalog
        attach_workspace: true
        chart: kyverno-policies
        executor: app-build-suite
        context: architect
          # Needed to trigger job also on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        name: push-kyverno-policies-to-giantswarm-catalog
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        attach_workspace: true
        chart: kyverno-policies
        executor: app-build-suite
        persist_chart_archive: true
        context: architect
          # Needed to trigger job also on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
            - master

    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: push-kyverno-policies-chart-to-default-catalog
        app_catalog: default-catalog
        app_catalog_test: default-test-catalog
        attach_workspace: true
        persist_chart_archive: true
        chart: kyverno-policies
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
